/**
 * App Global variables SCSS
 * ----------------------------------------------------------------------------
 * Place here the different files you should import to use global variables.
 */

$font-path: "../assets/fonts";
$assets-path: "../assets";

@import "./helpers/helpers.scss";
@import "./globals.custom.scss";
@import "./globals.variables.scss";
@import '~bootstrap/dist/css/bootstrap.css';
// @import '~@fortawesome/fontawesome/css/font-awesome.min.css';


.landingcol {
    height: 200px;
    margin: 10px;
}
.col1 {
  background: #264653;
}

.col2 {
  background: #2A9D8F;
}

.col3 {
    background: #E9C46A
}

.col4 {
    background: #F4A261;
  }

.col5 {
  background: #E76F51;
}

.col6 {
    background: #e75151;
}

.gridbutton {
    height: 100%;
width: 100%;
background: transparent;
--background: transparent;
margin: 0;
}

ion-icon {
    font-size: 2em;
}

ion-row {
    justify-content: center;
    margin-bottom: 10px;
}

ion-label {
    font-size: 1.5em;
}


  ion-icon.core-tab-icon {
    font-size: 34px !important;
  }

addon-calendar-calendar {
  display: block;
}

.upcoming {
  padding-left: 10px;
}

.sendmessageicon {
  color: var(--primary);
  font-size: 4em;
}

.chatuploadbutton {
  border: 1px solid var(--text-color);
  border-radius: 46px;
}
.reply-message {
  border-left: 4px solid var(--primary);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: #cbcbcb;
  color: var(--text-color);
}

.otheruser {
  color: var(--primary);
}

.previewcontent img {
  max-width: 30% !important;
}
