<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'core.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/img/coodlesvg.svg" class="coodlelogo" alt="Coodle Logo" />
      <!-- <h1 class="headertext" *ngIf="selectedUser === ''">{{'addon.local_coodle.landingpage' | translate}}</h1> -->
      <h1 class="headertext" *ngIf="selectedUser !== ''">{{ selectedUser }}</h1>
    </ion-title>
    <ion-buttons slot="end">
      <core-user-menu-button></core-user-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isInit">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event.target)">
    <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="!isAdvisor">
    <ion-row>
      <ng-container *ngFor="let button of buttons">
        <ion-col [ngStyle]="{'background' : button.color}" class="landingcol" size="12">
          <ion-button class="gridbutton" (click)="openHandler(button)" attr.aria-label="{{button.title | translate}}">
            <ion-icon slot="start" name="{{button.icon}}"></ion-icon>
            <ion-label>{{button.title | translate}}</ion-label>
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="isAdvisor" class="advisorgrid">
    <ion-row>
      <ng-container *ngFor="let button of advisorButtons">
        <ion-col [ngStyle]="{'background' : button.color}" class="landingcol" size="12">
          <ion-button class="gridbutton" (click)="openHandler(button)" attr.aria-label="{{button.title | translate}}">
            <ion-icon slot="start" name="{{button.icon}}"></ion-icon>
            <ion-label>{{button.title | translate}}</ion-label>
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
