.landingcol {
    height: 14vh;
    margin: 7px;
    overflow: auto;
}

// .col1 {
//   background: #264653;
// }

// .col2 {
//   background: #2A9D8F;
// }

// .col3 {
//     background: #E9C46A
// }

// .col4 {
//     background: #F4A261;
//   }

// .col5 {
//   background: #E76F51;
// }

// .col6 {
//     background: #e75151;
// }

.gridbutton {
    height: 100%;
width: 100%;
background: transparent;
--background: transparent;
margin: 0;
}

ion-icon {
    font-size: 1.9em;
}

ion-row {
    justify-content: center;
    margin-bottom: 10px;
}

ion-label {
    font-size: 5.7vw;
    white-space: normal;
    line-height: initial;
    width: 80%;
    text-align: start;
    text-transform: none !important;
    // overflow-wrap: anywhere;
}

ion-grid {
  overflow: visible;

}

.advisorgrid {
    height: 100%;
    // display: flex;
    align-items: center;
}

.innergrid {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
    flex-direction: column;
    height: 80%;
}

.headertext {
    display: inline-flex;
    padding-left: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
      .coodlelogo {
        display: none;
      }

      }
  }

.coodlelogo.dark {
   filter: invert(1);
}


// core-menu-user-button {
//     img {
//         min-width: 60px;
//         min-height: 60px !important;
//         width: 60px;
//         height: 60px !important;
//     }
// }
